// Trending Section::Start

.banner__newC {
  background: #e1e1e9;

  img {
    width: 11rem;
  }

  .btn {
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      border-color: #e35d6a;
      background-color: #e35d6a;
    }
  }
}

// Trending Section::End

// Media Queries::Start

@media (max-width: 991px) {
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
}

// Media Queries::End
