<!-- Hero Slider::Start -->

<app-home-slider></app-home-slider>

<!-- Hero Slider::End -->

<!-- Banner Feature 1::Start -->

<section class="banner__section">
  <h1 class="heading"><span>Our</span> Collections</h1>
  <div class="banner__container">
    <div class="banner">
      <img
        src="./assets/images/square/product__iphone-11.jpg"
        alt="iPhone 11 Phone Cases"
      />
      <div class="content">
        <!-- <span>Special Offer</span> -->
        <h3>iPhone 11 Cases</h3>
        <a href="#" class="btn">Shop</a>
      </div>
    </div>
    <div class="banner">
      <img
        src="./assets/images/square/product__iphone-12.jpg"
        alt="iPhone 12 Phone Cases"
      />
      <div class="content">
        <!-- <span>Special Offer</span> -->
        <h3>iPhone 12 Cases</h3>
        <a href="#" class="btn">Shop</a>
      </div>
    </div>
    <div class="banner">
      <img src="./assets/images/square/coming-soon.png" alt="Coming Soon..." />
      <div class="content">
        <!-- <span>Special Offer</span> -->
        <!-- <h3>Coming Soon...</h3> -->
        <!-- <a href="#" class="btn">Shop Now</a> -->
      </div>
    </div>
  </div>
</section>

<!-- Banner Feature 1::End -->

<!-- Featured Section::Start -->

<app-featured-slider></app-featured-slider>

<!-- Featured Section::End -->

<!-- Trending Section::Start -->

<section class="deal">
  <div class="image">
    <img src="./assets/images/square/feature--1.jpg" alt="Trending Deal" />
  </div>
  <div class="content">
    <h3>Meilleur rapport Qualité / Prix</h3>
    <h4>Profitez de la nouvelle collection</h4>
    <a href="#" class="btn">Profitez-en!</a>
  </div>
  <div class="image">
    <img src="./assets/images/square/feature--2.png" alt="Trending Deal" />
  </div>
</section>

<!-- Trending Section::End -->

<!-- Product Section::Start -->

<app-exclusive-product></app-exclusive-product>

<!-- Product Section::End -->

<!-- Reviews Section::Start -->

<app-review-slider></app-review-slider>

<!-- Reviews Section::End -->
