<!-- Hero Slider::Start -->

<app-home-slider></app-home-slider>

<!-- Hero Slider::End -->

<!-- Banner Feature 1::Start -->

<section class="banner__container">
  <div class="banner">
    <img src="./assets/images/shop_banner_img1.jpg" alt="Leather Shop 1" />
    <div class="content">
      <span>Special Offer</span>
      <h3>upto 50% off</h3>
      <a href="#" class="btn">Shop Now</a>
    </div>
  </div>
  <div class="banner">
    <img src="./assets/images/shop_banner_img2.jpg" alt="Leather Shop 2" />
    <div class="content">
      <span>Special Offer</span>
      <h3>upto 50% off</h3>
      <a href="#" class="btn">Shop Now</a>
    </div>
  </div>
</section>

<!-- Banner Feature 1::End -->

<!-- Product Section::Start -->

<app-exclusive-product></app-exclusive-product>

<!-- Product Section::End -->

<!-- Trending Section::Start -->

<section class="deal">
  <div class="image">
    <img src="./assets/images/trending_img.png" alt="Trending Deal" />
  </div>
  <div class="content">
    <span>New Season Trending!</span>
    <h3>Best Summer Collection</h3>
    <p>Sale get up to 50% Off</p>
    <a href="#" class="btn">Shop Now</a>
  </div>
</section>

<!-- Trending Section::End -->

<!-- Featured Section::Start -->

<app-featured-slider></app-featured-slider>

<!-- Featured Section::End -->

<!-- Reviews Section::Start -->

<app-review-slider></app-review-slider>

<!-- Reviews Section::End -->
