.invoice {
  p {
    margin: 0;
  }

  .bg__light {
    background-color: #eff3fc;
  }
  .text__table-product {
    color: #283341;
  }
  .text__invoice--title {
    color: #4c7299;
  }

  label,
  .product__label {
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}

// Media queries

@media (min-width: 1201px) {
  // Extra Large Screens - TV
}

@media (min-width: 1025px) and (max-width: 1200px) {
  // Desktops - Large Screens
}

@media (min-width: 769px) and (max-width: 1024px) {
  // Small Screens - Laptops
}

@media (min-width: 481px) and (max-width: 768px) {
  // iPads - Tablets
}

@media (max-width: 480px) {
  // Mobile Devices
  .ls__logo--invoice {
    width: 100%;
  }
}
