.invoice {
  p {
    margin: 0;
  }

  .bg__light {
    background-color: #eff3fc;
  }
  .text__table-product {
    color: #283341;
  }
  .text__invoice--title {
    color: #4c7299;
  }

  label,
  .product__label {
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}
