.collections__section {
  background-color: #eeeeee;

  .banner__collection {
    height: 50vh;

    .col-12 {
      background: url("https://leathership.s3.eu-central-1.amazonaws.com/images/ls__banner_collections.png")
        no-repeat;
      background-size: cover;
      background-position-y: center;
    }
  }

  .collections__grid {
    .btn {
      color: #191919;
      transition: 0.5s;

      &:hover {
        background-color: rgb(197, 197, 197);
        color: rgb(32, 49, 97);
        transition: 0.5s;
      }
    }
  }
}

// Media queries

@media (min-width: 1201px) {
  // Extra Large Screens - TV
}

@media (min-width: 1025px) and (max-width: 1200px) {
  // Desktops - Large Screens
}

@media (min-width: 769px) and (max-width: 1024px) {
  // Small Screens - Laptops
}

@media (min-width: 481px) and (max-width: 768px) {
  // iPads - Tablets
}

@media (max-width: 480px) {
  .collections__section {
    .banner__collection {
      .col-12 {
        background: url("https://leathership.s3.eu-central-1.amazonaws.com/images/ls__banner_collections--mobile.png")
          no-repeat;
        background-size: cover;
        background-position-y: center;
      }
    }
  }
}
