<section class="review" id="review">
  <h1 class="heading">Client's <span>Review</span></h1>

  <div class="swiper review__slide">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
          veniam deserunt praesentium natus quibusdam ea nam commodi.
        </p>
        <div class="user">
          <img src="./assets/images/pic-1.png" alt="" />
          <div class="info">
            <h3>john deo</h3>
            <span>happy client</span>
          </div>
        </div>
      </div>

      <div class="swiper-slide slide">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
          veniam deserunt praesentium natus quibusdam ea nam commodi.
        </p>
        <div class="user">
          <img src="./assets/images/pic-2.png" alt="" />
          <div class="info">
            <h3>john deo</h3>
            <span>happy client</span>
          </div>
        </div>
      </div>

      <div class="swiper-slide slide">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
          veniam deserunt praesentium natus quibusdam ea nam commodi.
        </p>
        <div class="user">
          <img src="./assets/images/pic-3.png" alt="" />
          <div class="info">
            <h3>john deo</h3>
            <span>happy client</span>
          </div>
        </div>
      </div>

      <div class="swiper-slide slide">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
          veniam deserunt praesentium natus quibusdam ea nam commodi.
        </p>
        <div class="user">
          <img src="./assets/images/pic-4.png" alt="" />
          <div class="info">
            <h3>john deo</h3>
            <span>happy client</span>
          </div>
        </div>
      </div>

      <div class="swiper-slide slide">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
          veniam deserunt praesentium natus quibusdam ea nam commodi.
        </p>
        <div class="user">
          <img src="./assets/images/pic-5.png" alt="" />
          <div class="info">
            <h3>john deo</h3>
            <span>happy client</span>
          </div>
        </div>
      </div>

      <div class="swiper-slide slide">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
          veniam deserunt praesentium natus quibusdam ea nam commodi.
        </p>
        <div class="user">
          <img src="./assets/images/pic-6.png" alt="" />
          <div class="info">
            <h3>john deo</h3>
            <span>happy client</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
