// @use "/src/styles" as *;

// Featured Products::Start

.featured {
  .heading {
    font-size: 3.5rem;
    color: #2a4f7c;
    padding-bottom: 2rem;
    text-align: center;
    span {
      color: #ce4968;
    }
  }
  .swiper {
    .slide {
      border-radius: 0.5rem;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      border: 0.1rem solid rgba(0, 0, 0, 0.3);

      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        height: 35rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        gap: 0.5rem;
        transform: scale(0);
        z-index: 1;

        a {
          cursor: pointer;
          font-size: 2rem;
          height: 5rem;
          width: 5rem;
          line-height: 5rem;
          text-align: center;
          background: #fff;
          border-radius: 0.5rem;
          // @extend %text-stroke;
        }
      }

      &:hover .icons {
        transform: scale(1);
      }

      .image {
        height: 35rem;
        width: 100%;
        overflow: hidden;
        padding: 2rem;

        img {
          height: 100%;
          width: 100%;
          // object-fit: cover; // Html Version
          object-fit: contain; // NG Version
        }
      }

      &:hover .image img {
        transform: scale(1.1);
      }

      .content {
        padding: 1rem 1.5rem;

        h3 {
          font-size: 2rem;
          color: #2a4f7c;
          font-weight: normal;
        }

        .price {
          padding: 0.5rem 0;
          display: flex;
          gap: 0.5rem;
          align-items: center;

          .amount {
            // font-size: 2.2rem; // HTML Version
            font-size: 1.9rem; // NG Version
            font-weight: bolder;
            color: #2a4f7c;
          }

          .cut {
            font-size: 1.5rem;
            text-decoration: line-through;
            color: #b7b7b78c;
          }

          .offer {
            font-size: 2rem;
            color: #ce4968;
          }
        }

        .stars {
          font-size: 1.7rem;

          i {
            color: gold;
          }

          span {
            color: #b7b7b78c;
          }
        }
      }
    }
  }
}

// Featured Products::End

// Media Queries::Start

@media (max-width: 991px) {
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
  .featured {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

// Media Queries::End
