// Header Style::Start

.navbar__container {
  // margin-bottom: 3.8rem;
  .navbar-collapse {
    flex-grow: 0;
  }

  .search__form {
    width: 33rem;
  }
}

.router__container {
  padding-top: 3.8rem;
}

// Media Queries for Header::Start

@media (max-width: 991px) {
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
}

// Media Queries for Header::End

// Header Style::End
