<!-- Test Navbar::Start -->

<header class="container navbar__container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"
        ><img
          src="https://leathership.s3.eu-central-1.amazonaws.com/images/ls_logo/leathership__logo--light.png"
          alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMobile"
        aria-controls="navbarMobile"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMobile">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <form>
              <div class="input-group search__form pt-2 pt-md-0">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Rechercher un produit ..."
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <div class="navbar__icons text-decoration-none">
        <div>
          <a routerLink="/cart">
            <img
              src="https://leathership.s3.eu-central-1.amazonaws.com/images/ls_logo/ls_cart_logo.png"
              alt="Cart"
          /></a>
          <span class="badge bg-secondary">{{ _totalItems }}</span>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="router__container">
  <div *ngIf="loading" class="vh-100 vw-100">
    <h3>Test Resolve Loading ....</h3>
  </div>
  <router-outlet></router-outlet>
</div>
