<header class="router__container">
  <nav
    class="navbar fixed-top navbar-light bg-light border border-2 border-danger"
  >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"
        ><img
          src="https://leathership.s3.eu-central-1.amazonaws.com/images/ls_logo/leathership__logo--light.png"
          alt=""
      /></a>

      <div class="navbar__icons text-decoration-none">
        <div>
          <a routerLink="/cart">
            <img
              src="https://leathership.s3.eu-central-1.amazonaws.com/images/ls_logo/ls_cart_logo.png"
              alt="Cart"
          /></a>
          <span class="badge bg-secondary">{{ _totalItems }}</span>
        </div>
      </div>
    </div>
  </nav>
</header>
