<div class="spinner_part" *ngIf="loading">
  <div>
    <div class="bg-light vw-100 vh-100 fixed-top">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<app-navbar *ngIf="switchFN"></app-navbar>
<div class="router__container">
  <router-outlet></router-outlet>
</div>
<app-footer *ngIf="switchFN"></app-footer>
