<section class="featured" id="featured">
  <h1 class="heading"><span>Featured</span> Products</h1>

  <swiper [config]="config" class="swiper">
    <ng-template
      swiperSlide
      class="slide"
      *ngFor="let product of products; let i = index"
    >
      <div class="icons">
        <a
          class="fas fa-shopping-cart"
          (click)="getProductDetail(product.id)"
        ></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a [routerLink]="['product-detail', product.id]" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <!-- <img src="./assets/images/product_img1.jpg" alt="" /> -->
        <img [src]="product.assets[0].url" alt="Black Hero CommerceJS" />
      </div>
      <div class="content">
        <!-- <h3>product name</h3> -->
        <h3>{{ product.name }}</h3>
        <div class="price">
          <div class="amount">
            {{ product?.price.formatted_with_code }}
          </div>
          <!-- <div class="amount">$20.00</div> -->
          <div class="cut">$25.00</div>
          <div class="offer">20% off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(50)</span>
        </div>
      </div>
    </ng-template>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</section>
