<section class="single__product">
  <div class="card__wrapper">
    <div class="card">
      <!-- card left -->
      <div class="product__images">
        <div class="image__display">
          <div class="image__showcase">
            <swiper
              style="
                --swiper-navigation-color: #fff;
                --swiper-pagination-color: #fff;
              "
              [spaceBetween]="10"
              [navigation]="true"
              [thumbs]="{ swiper: thumbsSwiper }"
              class="swiper1"
            >
              <ng-template swiperSlide *ngFor="let asset of assets"
                ><img [src]="asset?.url" alt="ngFor"
              /></ng-template>
            </swiper>
            <swiper
              (swiper)="thumbsSwiper = $event"
              [spaceBetween]="10"
              [slidesPerView]="4"
              [freeMode]="true"
              [watchSlidesProgress]="true"
              class="swiper2"
            >
              <ng-template swiperSlide *ngFor="let asset of assets"
                ><img [src]="asset?.url" alt="ngFor"
              /></ng-template>
            </swiper>
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class="product__content">
        <!-- <h2 class="product__title">Black Hero</h2> -->
        <h2 class="product__title">{{ products?.name }}</h2>
        <a class="product__link">Visit our Page</a>
        <div class="product__rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>

        <div class="product__price">
          <p class="last__price">Prix Initial: <span>257.00 MAD</span></p>
          <!-- <p class="new__price">Prix Promo: <span>249.00 MAD (5%)</span></p> -->
          <p class="new__price">
            Prix Promo:
            <span>{{ products?.price.formatted_with_code }} (5%)</span>
          </p>
        </div>

        <div class="product__detail">
          <h2>Description de l'article:</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
            eveniet veniam tempora fuga tenetur placeat sapiente architecto
            illum soluta consequuntur, aspernatur quidem at sequi ipsa!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.
          </p>
          <ul>
            <li>Couleur: <span>Noir</span></li>
            <li>Disponibilité: <span>En Stock</span></li>
            <li>Categorie: <span>Coques en vrai cuir</span></li>
            <li>Livraison: <span>A domicile</span></li>
            <li>Frais de livraison: <span>Gratuite</span></li>
          </ul>
        </div>

        <div class="purchase__info">
          <input type="number" min="0" value="1" placeholder="Quantity" />
          <button type="button" class="btn">
            Ajouter au Panier <i class="fas fa-shopping-cart"></i>
          </button>
          <button type="button" class="btn">Commander</button>
        </div>

        <div class="social__links">
          <p>Partager cet article:</p>
          <a>
            <i class="fab fa-facebook-f"></i>
          </a>
          <a>
            <i class="fab fa-twitter"></i>
          </a>
          <a>
            <i class="fab fa-instagram"></i>
          </a>
          <a>
            <i class="fab fa-whatsapp"></i>
          </a>
          <a>
            <i class="fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
