<!-- Spinner:Start -->
<div class="spinner_part" *ngIf="loading$">
  <div>
    <div class="bg-light vw-100 vh-100">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Processing...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Spinner:End -->

<section class="single__product">
  <div class="row p-3 m-auto">
    <div class="col-12 col-md-6">
      <!-- Part Left -->
      <div class="container p-3">
        <swiper
          style="
            --swiper-navigation-color: #fff;
            --swiper-pagination-color: #fff;
          "
          [spaceBetween]="10"
          [navigation]="true"
          [thumbs]="{ swiper: thumbsSwiper }"
          class="swiper1 w-50 pb-2"
        >
          <ng-template swiperSlide *ngFor="let asset of assets"
            ><img [src]="asset?.url" alt="ngFor"
          /></ng-template>
        </swiper>
        <swiper
          (swiper)="thumbsSwiper = $event"
          [spaceBetween]="10"
          [slidesPerView]="4"
          [freeMode]="true"
          [watchSlidesProgress]="true"
          class="swiper2"
        >
          <ng-template swiperSlide *ngFor="let asset of assets"
            ><img [src]="asset?.url" alt="ngFor"
          /></ng-template>
        </swiper>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <form [formGroup]="productForm">
        <div class="card border border-0">
          <div class="card-body">
            <h6
              class="card-subtitle mb-2 text-muted text-center text-md-start fw-bold"
            >
              Leathership
            </h6>

            <h4 class="card-title fs-4 py-2 text-center text-md-start">
              {{ product?.name }}
            </h4>

            <h6 class="card-subtitle pb-3 fw-bolder text-danger fs-6">
              <span class="text-dark">Prix :</span>
              {{ product_Price || "Pick the Model..." }}
            </h6>

            <label for="brand" class="form-label">Brand : </label>
            <select
              id="brand"
              class="form-select mb-2 w-50 text-secondary fw-bold"
              formControlName="variant_Group_ID"
              (change)="onVariantGroupChange($event.currentTarget)"
            >
              <option selected disabled value="Brand">-- Brand --</option>
              <option
                [value]="variant.id"
                *ngFor="let variant of variant_Group; let i = index"
                class="fw-bold text-dark"
              >
                {{ variant.name }}
              </option>
            </select>

            <label for="model" class="form-label">Model : </label>
            <select
              id="model"
              class="form-select mb-2 w-50 text-secondary fw-bold"
              formControlName="variant_Options_ID"
              (change)="onVariantOptionsChange($event.currentTarget)"
            >
              <option selected disabled value="Modele de Téléphone">
                -- Phone Model --
              </option>
              <option
                [value]="option.id"
                *ngFor="let option of variantOptions; let i = index"
                class="fw-bold text-dark"
              >
                {{ option?.name }}
              </option>
            </select>

            <label for="description" class="form-label mt-2"
              >Description :
            </label>
            <p class="card-text fw-bolder">
              {{ product_Description || " No Description " }}
            </p>
          </div>
          <div class="card-body">
            <div class="row gy-3">
              <div class="col-12 col-md-2">
                <input
                  class="form-control text-center fw-bold"
                  type="number"
                  min="0"
                  value="1"
                  placeholder="Quantity"
                  formControlName="quantity"
                />
              </div>

              <div class="col-12 col-md-5">
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  (click)="addToCart()"
                  [disabled]="productForm.invalid"
                >
                  Add to Cart <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
