.cart {
  background: linear-gradient(to bottom right, #e3f0ff, #fafcff);
  padding-top: 8rem;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .cart__container {
    margin-top: 3rem;
    width: 70%;
    // height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    .cart__header {
      margin: auto;
      width: 90%;
      height: 6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cart__title {
        font-size: 2rem;
        font-family: "Open Sans";
        font-weight: 700;
        color: #2f3841;
      }
      .cart__action {
        font-size: 14px;
        font-weight: 600;
        color: #e44c4c;
        cursor: pointer;
        border-bottom: 1px solid #e44c4c;
      }
    }
    .cart__items {
      margin: auto;
      width: 90%;
      height: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      //
      // border: 1px solid;

      .item__image {
        width: 15%;
        text-align: center;

        img {
          height: 120px;
        }
      }
      .item__about {
        // height: 100%;
        .about__title {
          // padding-top: 5px;
          font-size: 2.5rem;
          font-weight: 800;
          color: #202020;
        }
        .about__subtitle {
          // margin: 5px 0;
          font-size: 1.3rem;
          font-weight: 600;
          color: #909090;
        }
        // i {
        //   font-size: 2rem;
        //   color: rgb(25, 228, 18);
        // }
      }
    }
    .item__counter {
      width: 15%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .counter__btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: "Open Sans";
        font-weight: 900;
        color: #202020;
        cursor: pointer;
      }
      .counter__count {
        font-size: 20px;
        font-family: "Open Sans";
        font-weight: 900;
        color: #202020;
      }
    }
    .item__price {
      // height: 100%;
      text-align: center;
      .item__amount {
        padding-top: 5px;
        font-size: 2rem;
        font-family: "Open Sans";
        font-weight: 800;
        color: #202020;
      }
      .item__remove {
        padding-top: 5px;
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: 600;
        color: #e44c4c;
        cursor: pointer;
      }

      h3 {
        font-size: 2rem;
      }
    }
    hr {
      width: 66%;
      float: right;
      margin-right: 5%;
    }
    .cart__checkout {
      margin: 0 auto;
      width: 45%;

      .checkout__total {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
      }
      .checkout__subtotal {
        font-size: 22px;
        font-family: "Open Sans";
        font-weight: 700;
        color: #202020;
      }
      .checkout__items {
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 500;
        color: #909090;
        line-height: 10px;
      }
      .checkout__total-amount {
        font-size: 3rem;
        font-family: "Open Sans";
        font-weight: 900;
        color: #202020;
      }
      .checkout__btn {
        float: right;
        margin-top: 5px;
        width: 40%;
        height: 40px;
        border: none;
        background: linear-gradient(to bottom right, #b8d7ff, #8eb7eb);
        border-radius: 20px;
        cursor: pointer;
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: 600;
        color: #202020;
      }
    }
  }
}
