.cart__section {
  background: #ddd;
  min-height: 100vh;
  text-decoration: none;

  .title {
    margin-bottom: 5vh;
  }

  .card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
  }

  .cart__summary {
    background-color: #dddddd;
    color: #414141;

    .btn {
      background-color: #000;
      border-color: #000;
      color: white;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
  select,
  a {
    cursor: pointer;
  }
}
