<div id="page">
  <table id="cart">
    <thead>
      <tr>
        <th class="first">Product ID</th>
        <th class="second">Qty</th>
        <th class="third">Product Name</th>
        <th class="fourth">Line Total</th>
        <th class="fifth">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <!-- shopping cart contents -->
      <tr class="productitm">
        <!-- <td>{{ item.id }}</td> -->
        <td>
          <input type="number" value="1" min="0" max="99" class="qtyinput" />
        </td>
        <!-- <td>{{ item.name }}</td> -->
        <!-- <td>{{ item.price.formatted_with_code }}</td> -->
        <td>
          <span class="remove"
            ><img src="https://i.imgur.com/h1ldGRr.png" alt="X"
          /></span>
        </td>
      </tr>

      <!-- tax + subtotal -->
      <tr class="extracosts">
        <td class="light">Shipping &amp; Tax</td>
        <td colspan="2" class="light"></td>
        <td>$35.00</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="totalprice">
        <td class="light">Total:</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="2"><span class="thick">$225.45</span></td>
      </tr>

      <!-- checkout btn -->
      <tr class="checkoutrow">
        <td colspan="5" class="checkout">
          <button id="submitbtn">Checkout Now!</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div *ngIf="(items$ | async)?.length === 0">
    Your shopping cart is empty!!!
  </div> -->
</div>
