.checkout {
  textarea {
    height: 5.5rem;
  }
  p {
    margin-bottom: 0;
  }

  .font-size-caption {
    font-size: 0.75rem;
    line-height: 1.25rem;
    --bs-text-opacity: 1;
    color: #6c757d;
  }
  .hr-black {
    border: 0.5px solid #181717;
    opacity: 1;
  }
}

// Media queries

@media (min-width: 1201px) {
  // Extra Large Screens - TV
}

@media (min-width: 1025px) and (max-width: 1200px) {
  // Desktops - Large Screens
}

@media (min-width: 769px) and (max-width: 1024px) {
  // Small Screens - Laptops
}

@media (min-width: 481px) and (max-width: 768px) {
  // iPads - Tablets
}

@media (max-width: 480px) {
  // Mobile Devices
}
