<!-- Spinner:Start -->
<div class="spinner_part" *ngIf="loading">
  <div>
    <div class="bg-light vw-100 vh-100 fixed-top">
      <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Processing...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Spinner:End -->

<section class="checkout py-4 mt-0 mt-md-4">
  <div class="container">
    <main>
      <div class="row gx-0 gx-md-5 h-100">
        <div class="col-12 col-md-7 order-last order-md-first">
          <form [formGroup]="checkoutForm" (ngSubmit)="generateOrder()">
            <ng-container formGroupName="customer">
              <hr class="d-md-none my-4" />
              <div class="row align-items-center">
                <div class="col-12 text-center mb-3 mb-md-0">
                  <h5>Contact Informations</h5>
                </div>
                <hr class="w-100" />
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="my-3">
                    <label for="fname" class="font-size-caption"
                      >First Name :</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Enter your First Name"
                      formControlName="firstname"
                    />
                    <span
                      *ngIf="isValid('customer.firstname')"
                      class="form-text text-danger"
                    >
                      First Name is Required or Invalid</span
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div class="my-3">
                    <label for="lname" class="font-size-caption"
                      >Last Name :</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="lname"
                      placeholder="Enter your Last Name"
                      formControlName="lastname"
                    />
                    <span
                      *ngIf="isValid('customer.lastname')"
                      class="form-text text-danger"
                    >
                      Last Name is Required or Invalid</span
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <label for="gdm" class="font-size-caption">GSM :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="gsm"
                      placeholder="Enter your GSM number"
                      formControlName="phone"
                    />
                    <span
                      *ngIf="isValid('customer.phone')"
                      class="form-text text-danger"
                    >
                      GSM is Required or Invalid</span
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <label for="email" class="font-size-caption"
                      >E-mail :</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Enter your E-mail"
                      formControlName="email"
                    />
                    <span
                      *ngIf="isValid('customer.email')"
                      class="form-text text-danger"
                    >
                      E-mail is Required or Invalid</span
                    >
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container formGroupName="shipping">
              <div class="row my-3">
                <div class="col-12">
                  <hr class="w-100" />
                  <h5>Shipping Adress :</h5>
                  <hr class="w-100" />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="mb-3">
                    <label for="fullName" class="font-size-caption"
                      >Full Name :</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="fullName"
                      placeholder="Enter your Full Name"
                      formControlName="name"
                    />
                    <span
                      *ngIf="isValid('shipping.name')"
                      class="form-text text-danger"
                    >
                      Full Name is Required or Invalid</span
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="my-3">
                    <label for="country" class="font-size-caption"
                      >Country</label
                    >
                    <select
                      class="form-select"
                      aria-label="Select Country"
                      disabled
                    >
                      <option value="MA" selected>Morocco</option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="my-3">
                    <label for="city" class="font-size-caption">City :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      placeholder="Enter your city"
                      formControlName="town_city"
                    />
                    <span
                      *ngIf="isValid('shipping.town_city')"
                      class="form-text text-danger"
                    >
                      City is Required or Invalid</span
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <label for="adress1" class="font-size-caption"
                      >Adress line 1 :</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="adress1"
                      placeholder="House number, street number, etc"
                      formControlName="street"
                    />
                    <span
                      *ngIf="isValid('shipping.street')"
                      class="form-text text-danger"
                    >
                      Adress Line is Required or Invalid</span
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <label for="adress2" class="font-size-caption"
                      >Adress line 2 : (optional)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="adress2"
                      placeholder="Appartment, suite number, etc"
                      formControlName="street_2"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <label for="region" class="font-size-caption"
                      >Region :
                    </label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      formControlName="county_state"
                    >
                      <option value="">Select region :</option>
                      <option value="06">Casablanca</option>
                    </select>
                    <span
                      *ngIf="isValid('shipping.county_state')"
                      class="form-text text-danger"
                    >
                      Region is Required or Invalid</span
                    >
                  </div>
                </div>
                <div class="col-6">
                  <div>
                    <label for="codePostal" class="font-size-caption"
                      >Postal Code :
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="codePostal"
                      placeholder="Enter your Postal Code"
                      formControlName="postal_zip_code"
                    />
                    <span
                      *ngIf="isValid('shipping.postal_zip_code')"
                      class="form-text text-danger"
                    >
                      Postal Code is Required or Invalid</span
                    >
                  </div>
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12">
                  <div>
                    <label for="shippingMethod" class="font-size-caption"
                      >Shipping method :
                    </label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected disabled>Free Shipping</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      placeholder="Order notes ..."
                      id="orderNotes"
                    ></textarea>
                    <label for="orderNotes" class="font-size-caption"
                      >Order notes ( Optional )</label
                    >
                  </div>
                </div>
              </div>
            </ng-container>
            <!-- Payment Gateway -->
            <ng-container formGroupName="payment">
              <div class="row my-3">
                <div class="col-12">
                  <hr class="w-100" />
                  <h5>Payment Detail :</h5>
                  <hr class="w-100" />
                </div>
              </div>
              <div class="row p-2">
                <div class="col-12 p-3 border">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="creditCard"
                      id="creditCard"
                      checked
                    />
                    <label class="form-check-label" for="creditCard">
                      Credit/debit card
                    </label>
                  </div>
                  <!-- Card number control -->
                  <ng-container formGroupName="card">
                    <div class="container my-3">
                      <div class="row">
                        <div class="col-9">
                          <div>
                            <label for="cardNumber" class="font-size-caption"
                              >Card Number :</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="cardNumber"
                              placeholder="1111 1111 1111 1111"
                              formControlName="number"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <div>
                            <label for="cvc" class="font-size-caption"
                              >CVC (CVV) :</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="cvc"
                              placeholder="123"
                              formControlName="cvc"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3">
                          <div>
                            <label for="expMonth" class="font-size-caption"
                              >Exp. Month :</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="expMonth"
                              placeholder="05"
                            />
                          </div>
                        </div>
                        <div class="col-3">
                          <div>
                            <label for="expYear" class="font-size-caption"
                              >Exp. Year :</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="expYear"
                              placeholder="23"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <div class="row my-3">
              <div class="col-12">
                <button
                  type="submit"
                  class="btn btn-dark w-100 text-center fw-bold p-2"
                  [disabled]="checkoutForm.invalid"
                >
                  Pay - Checkout
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-12 col-md-5 order-first order-md-last">
          <div class="row">
            <div class="col-md-12">
              <h5>Your order</h5>
            </div>
          </div>
          <hr />
          <!-- Loop Cart products -->
          <div
            class="row my-2"
            *ngFor="let product of checkout?.live?.line_items"
          >
            <div class="col-3">
              <img [src]="product?.image?.url" alt="" class="w-100" />
            </div>
            <div class="col-6">
              <p class="fw-bolder mb-0">{{ product.name }}</p>
              <p class="mb-0">
                Quantity : <span>{{ product.quantity }}</span>
              </p>
              <p *ngFor="let variant of product.selected_options">
                {{ variant.option_name }}
              </p>
            </div>
            <div class="col-3">
              <p class="fw-bolder">{{ product.price.formatted_with_code }}</p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control p-2"
                  placeholder="Discount Code ..."
                  aria-label="Discount Code ..."
                  aria-describedby="button-addon2"
                />
                <button
                  class="btn btn-dark p-2"
                  type="button"
                  id="button-addon2"
                >
                  Apply
                </button>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <p>Subtotal :</p>
            </div>
            <div class="col-md-8">
              <p class="text-end fw-bolder">
                {{ checkout?.live?.subtotal?.formatted_with_code }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>Tax :</p>
            </div>
            <div class="col-md-8">
              <p class="text-end fw-bolder">0.00 MAD</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>Shipping :</p>
            </div>
            <div class="col-md-8">
              <p class="text-end fw-bolder">Free Shipping</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>Discount :</p>
            </div>
            <div class="col-md-8">
              <p class="text-end fw-bolder">No discount code applied</p>
            </div>
          </div>
          <hr class="hr-black" />
          <div class="row">
            <div class="col-6 col-md-6">
              <h5 class="fw-bolder">Total amount :</h5>
            </div>
            <div class="col-6 col-md-6 text-end">
              <h5 class="fw-bolder">
                {{ checkout?.live?.total?.formatted_with_code }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
