<section class="products" id="products">
  <h1 class="heading">Exclusive <span>Products</span></h1>

  <div class="filter__buttons">
    <div class="buttons" data-filter="all">All</div>
    <div class="buttons" data-filter="arrivals">New Arrivals</div>
    <div class="buttons" data-filter="featured">Featured</div>
    <div class="buttons" data-filter="special">Special Offer</div>
    <div class="buttons" data-filter="seller">Best Seller</div>
  </div>
  <div class="box__container">
    <!-- Product Box::Start -->
    <div class="box" data-item="featured">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img1.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(50)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="special">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img2.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="seller">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img3.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="arrivals">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img4.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="featured">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img5.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="arrivals">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img6.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="special">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img7.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="featured">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img8.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="seller">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img9.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="featured">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img10.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="special">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img11.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
    <!-- Product Box::Start -->
    <div class="box" data-item="seller">
      <div class="icons">
        <a href="#" class="fas fa-shopping-cart"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-search"></a>
        <a href="#" class="fas fa-eye"></a>
      </div>
      <div class="image">
        <img src="./assets/images/product_img12.jpg" alt="Prdouct" />
      </div>
      <div class="content">
        <h3>Black Hero</h3>
        <div class="price">
          <div class="amount">$20.00</div>
          <div class="cut">$25.00</div>
          <div class="offer">20% Off</div>
        </div>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <span>(70)</span>
        </div>
      </div>
    </div>
    <!-- Product Box::End -->
  </div>
</section>
