<!-- Home Slider::Start -->
<section class="home">
  <div class="swiper home__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide slide--1">
        <div class="content">
          <h3>Amethyste</h3>
          <p>" I'm Amazing - I'm Unique "</p>

          <a href="#" class="btn">Explore</a>
        </div>
      </div>

      <div class="swiper-slide slide slide--2">
        <div class="content">
          <span>Upto 50%</span>
          <h3>Men's Fashion</h3>
          <a href="#" class="btn">Shop Now</a>
        </div>
      </div>

      <div class="swiper-slide slide slide--3">
        <div class="content">
          <span>Upto 50%</span>
          <h3>Kid's Fashion</h3>
          <a href="#" class="btn">Shop Now</a>
        </div>
      </div>
    </div>

    <!-- Swiper buttons -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Swiper Carousel::End -->
  </div>
</section>
<!-- Home Slider::End -->
