/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/*  Swiper Imports  */
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
*,
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s linear;
}

$red: #ce4968;
$blue: #2a4f7c;
$light-grey: #b7b7b78c;
$dark-grey: #666;
$white: #ffffff;
$border: 0.1rem solid rgba(0, 0, 0, 0.3);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($value) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
  gap: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

// section {
//   padding: 2rem 0;
// }

// Swiper Buttons Global Style::Start

// .swiper-button-next,
// .swiper-button-prev {
//   height: 3.2rem;
//   width: 3.2rem;
//   border-radius: 0.5rem;
//   background: $white;
//   color: $blue;
//   box-shadow: $box-shadow;
//   border: $border;

//   &:hover {
//     background: $dark-grey;
//     color: $white;
//   }
// }

// .swiper-button-next:after,
// .swiper-button-prev:after {
//   font-size: 1.5rem;
// }

// Swiper Buttons Global Style::End

// Global Media Queries::Start

// media queries

@media (max-width: 991px) {
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 450px) {
}

// Global Media Queries::End
