<section class="footer py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title">About us</h4>
            <hr class="dropdown-divider" />
            <p class="card-text">
              LEATHERSHIP est la première marque au Maroc qui vous propose des
              coques en cuir de très haute qualité pour protéger votre iPhone.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title">Nos catégories</h4>
            <hr class="dropdown-divider" />
            <ul class="list-group">
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>iPhone 11 Cases
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>iPhone 12 Cases
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>iphone 13 Cases
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title">Nos couleurs</h4>
            <hr class="dropdown-divider" />
            <ul class="list-group">
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Black Hero
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Pink Sahara
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Red Garnet
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>The Army
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Lilas Spring
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Night Blue
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title">Follow Us</h4>
            <hr class="dropdown-divider" />
            <ul class="list-group">
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Facebook
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Instagram
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Pinterest
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12 text-center">
        <p>2022 &copy; Leathership Casablanca. by <span>TheScripterX</span></p>
      </div>
    </div>
  </div>
</section>
