<section class="footer py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title">About us</h4>
            <hr class="dropdown-divider" />
            <p class="card-text">
              LEATHERSHIP is the first brand in Morocco which offers you very
              high quality leather cases to protect your iPhone.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title">Our categories</h4>
            <hr class="dropdown-divider" />
            <ul class="list-group" routerLink="/collections">
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>iPhone 11 Cases
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>iPhone 12 Cases
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>iphone 13 Cases
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title">Our colors</h4>
            <hr class="dropdown-divider" />
            <ul class="list-group" routerLink="/collections">
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Black Hero
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>Pink Sahara
              </li>
              <li class="list-group-item border-0 px-0">
                <i class="fas fa-angle-right mx-1"></i>View more...
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="card border-0">
          <div class="card-body">
            <h4 class="card-title">Follow Us</h4>
            <hr class="dropdown-divider" />
            <ul class="list-group">
              <li class="list-group-item border-0 px-0">
                <a
                  href="https://fb.com/leathershipcasablanca"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-dark text-decoration-none"
                >
                  <i class="fas fa-angle-right mx-1"></i>Facebook
                </a>
              </li>
              <li class="list-group-item border-0 px-0">
                <a
                  href="https://www.instagram.com/leathershipcasablanca"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-dark text-decoration-none"
                >
                  <i class="fas fa-angle-right mx-1"></i>Instagram
                </a>
              </li>
              <li class="list-group-item border-0 px-0">
                <a href="#" class="text-dark text-decoration-none">
                  <i class="fas fa-angle-right mx-1"></i>Pinterest</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12 text-center">
        <p>
          2022 &copy; Leathership Casablanca. Developed by
          <a
            class="text-dark text-decoration-none"
            href="https://hasimdev.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="fw-bolder">TheScripterX</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
