// Footer Section::Start

.footer {
  background-color: cornflowerblue;

  .card {
    background-color: transparent;
  }
  .list-group-item {
    background-color: transparent;
    transition: 0.6s;

    &:hover {
      padding: 0.5rem 0;
      transition: 0.5s;
    }
  }
}

// Footer Section::End
