.home {
  .home__slider {
    height: 65vh;

    .swiper {
      height: 100%;

      .slide__content {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          ),
          url("../../../../../../assets/images/ls_banner-1.jpg");
        background-size: cover;
      }
    }
  }

  .swiper-button-next {
    top: 90%;
    right: 2rem;
  }
  .swiper-button-prev {
    top: 90%;
    right: 8rem;
    left: auto;
  }
}

// Media Queries::Start

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .home .home__slider .slide {
    padding-left: 2rem;
  }
}

@media (max-width: 450px) {
  .home {
    padding-top: 7.2rem;

    .home__slider {
      .swiper {
        .slide {
          align-items: flex-end;
          justify-content: center;
          height: 55vh;

          // .content {
          //   text-align: center;
          //   width: 100%;

          //   .btn {
          //     padding: 0.9rem 5rem;
          //     position: relative;
          //     left: 6px;
          //     background: #cabdd9;
          //   }
          //   h3 {
          //     display: none;
          //   }
          //   p {
          //     display: none;
          //   }
          // }
        }
        // .slide--1 {
        //   background: url("../../../../../../assets/images/amethyste__slider_mobile--1.png")
        //     no-repeat;
        //   background-size: 100%;
        //   background-position-y: center;
        // }
        // .slide--2 {
        //   background: url("../../../../../../assets/images/amethyste__slider_mobile--1.png")
        //     no-repeat;
        //   background-size: 100%;
        //   background-position-y: center;
        // }
        // .slide--3 {
        //   background: url("../../../../../../assets/images/amethyste__slider_mobile--1.png")
        //     no-repeat;
        //   background-size: 100%;
        //   background-position-y: center;
        // }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

// Media Queries::End
